// http://lbd-react.creative-tim.com/#/dashboard
// Colors
$color__black--light: #282A30;

$color__grey--dark: #3E4658;
$color__grey: #55575D;
$color__grey--light: #EBEEF3;

$color__blue: #5AA0F4;
$color__white: white;
